/*font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;
*/


/*
body {
    background: red;
}*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #555;
    scroll-behavior: smooth;
}


a {
    color:white;
}
            
ul {
    list-style: none;
}
/*--------------------------------------------------------*/
/*----------------------
animation
----------------------*/
@keyframes fadebounce{
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }
    
    40%{
        transform: translateY(0);
    }
    
    55%{
        transform: translateY(-6px);
    }
    
    70%{
        opacity: 1;
        transform: translateY(0)
    }
    
    85%{
        transform: translateY(3px)
    }
    
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadebounce-reverse{
    0%{
        opacity: 0;
        transform: translateY(0%);
    }
    
    40%{
        transform: translateY(-200);
    }
    
    55%{
        transform: translateY(-10px);
    }
    
    70%{
        opacity: 1;
        transform: translateY(0)
    }
    
    85%{
        transform: translateY(3px)
    }
    
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

/*-----------------------
FOOTER
________________________*/

h1, h2, h3, h4, h5, h6{
     font-family: 'Noto Sans JP', sans-serif;
}

h3{
    margin-left: 50px;
}


.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-left: 70px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.2s;
    height: 45px;
}
.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


.btn:hover,
.btn:focus {
    color: #2E542E;
    text-decoration: none;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* default
---------------------------- */
.btn-default {
    color: white;
    background-color: #45B345;
    border-color: #ccc;
}
/*.btn-default:focus {
    color: white;
    background-color: #88DD88;
    border-color: #8c8c8c;
}*/
.btn-default:hover {
    color: white;
    background-color: #225F22;
    border-color: #adadad;
}
/*.btn-default:active {
    color: white;
    background-color: #225F22;
    border-color: #adadad;
}*/

btn:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #88DD88 !important;
  color: white !important;
  pointer-events: none;
}

/*.btn-success{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

.btn-success :hover{
    border-color: black;
}
@media all and (max-width:30em){
    a.button4{
    display:block;
    margin:0.2em auto;
    }
    }*/
.title{
    margin-left: 70px;
    color: black;
    text-align: center;
    

}
.titleOfGetting{
    text-align: center;
    margin-left: -5px;
}

footer {
    background-color: #131622;
    color: white;
    text-align: center;
    background: linear-gradient(to top, #000, #286e7a 100%);
    padding: 60px 0;
                
    display: flex;
    flex-direction: column;
    align-items: center;      
}
            
footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,.6);
    margin-bottom: 10px;
    bottom: -50px;
}
            
footer ul{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}
            
footer ul li{
    margin: 0 8px;
}
            
footer ul li a{
    font-size: 36px;
    cursor: pointer;
}

footer dl {
    position: relative;
    left: 570px;
    bottom: -50px;
    z-index: 1;
}

footer dl dt{
    font-size: 12px;
    opacity: 0.6;
    position: relative;
    right: 110px;
    z-index: 2;
}

footer dl dd{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    z-index: 2;
}
.float-botton{
    position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #494949;
    
}
.float-botton i{
    font-size: 20px;
    margin-top:20px;
}
@media(max-width: 800px) {
    footer{
        padding: 80px 15px;
    }
}
/*----------------------------------------*/



/*----------------------
HERO
-----------------------*/
#hero{
    background: gray;
    color: white;
    text-align: center;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url(img/iStock-1029087644-1024x780.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 100vh;
}
            
#hero h1, #hero h3{
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
}
            
#hero h1{
    font-size: 60px;
    margin-bottom: 15px;
    padding-top: 60px;
}
            
#hero a.btn{
    font-family: 'Calibri';
    color: white;
    background-color: #161333;
    text-decoration: underline;
    padding: 20px 20px;

    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 6;
    border: 2px solid white;              
}
            
#hero a.btn:hover{
    color: white;
    background-color: #2196f3;
    padding: 20px 20px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
            
@media(max-width: 1000px){
    #hero {
        min-height: 60px; 
    }
    
    #hero h1{
        font-size: 36px;
        padding-top: 250px;
    }
                                  
    #hero h3{
        font-size: 18px;
    }
                
    #hero a.btn{
        padding: 15px 26px    
    }
}

/*----------------------------------------------*/


hr{
    width: 150px !important;
    height: 2px !important;
    background-color: #2196f3;
    border: 0 !important;
    margin: 40px auto !important;
}

h3.title{
    color: #131633;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    text-align: left;
    margin-left: 50px;
}

/*----------------------------------------------------*/


/*-------------------------------
chi_siamo
---------------------------------*/

#chi_siamo{
    text-align:center !important;
    max-width: 800px;
    margin: 50px auto;
}
#chi_siamo h3{
    opacity: 0;
    font-size: 35px;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align: center;
}

.img{
    opacity: 0;
    animation-delay: 1.5s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 2px 2px 3px #B4B4B4;
    margin: 30px auto;
}

#chi_siamo ul.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
}

#chi_siamo p{
    opacity: 0;
    animation-delay: 1s;
    animation-name: fadebounce;
    text-align: left;
    padding-left: 20px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    
}

#chi_siamo ul.grid li{
    flex-basis: 20%;
    margin: 0 30px;
    margin-bottom: 40px;
    /*justify-content: center;*/
}

#chi_siamo ul.grid li h4{
    opacity: 0;
    animation-delay: 2s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color:#555;
    font-size:20px;
    margin-bottom: 10px;
}

#chi_siamo ul.grid li p{
    text-align: left justify;
    margin: 0;  
}

@media(max-width: 1000px){
    #chi_siamo{
        padding: 0 40px;
    }
    
    #chi_siamo ul.grid li{
        flex-basis: 70%;
        margin-bottom: 65px;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/

/*-------------------
ARGOMENTI
------------------*/
#argomenti{
    margin-left: auto;
    margin-right: auto;
    background-color: CBCBCB;
}
#argomenti p{
    font-size: 16px;
}

#primo_argomento {
    max-width: 900px;
    font-family: 'Roboto', sans-serif;
    
}

#primo_rgomento article{
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}
#primo_argomento P{
    opacity: 0;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align:match-parent;
    text-align: justify;
    margin: 10px;
    margin-left: 100px;
}
#primo_argomento  h3{
      max-width: 630px;
      border-bottom: 2px solid #000;
      background: linear-gradient(to right, #CFCFCF, #fff 100%);
}


@media(max-width: 800px){
    #primo_argomento P{
        text-align: justify;
        text-align-last: center;
        margin: 0px 60px;
        
    }
    #primo_argomento h3{
        text-align: center;
        font-size: 20px;
        margin: 0px 60px;
        margin-bottom: 20px;
        
    }
}

/*--*****************************************************************************--*/

#secondo_argomento {
    max-width: 900px;
    display: inline;
    
}
#secondo_argomento article{
    justify-items:left;
    font-family: 'Roboto', sans-serif;
    animation-name: fadebounce;
    animation-duration: 1s;
}
#secondo_argomento p{
    opacity: 0;
    animation-delay: 1s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    max-width: 900px;
    text-align: justify;
    margin: 10px;
    margin-left: 100px;
}
#secondo_argomento h3{
    max-width: 630px;
    border-bottom: 2px solid #000;
    background: linear-gradient(to right, #CFCFCF, #fff 100%);
}
.directoryPic{
    opacity: 0;
    animation-delay: 1.5s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-right: 120px;
    margin-left: 80px;
    float: right;
   
    
}

@media(max-width:1000px){
    #secondo_argomento {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    #secondo_argomento p{
        text-align: justify;
        text-align-last: center;
        margin: 0px 60px;
    }
    #secondo_argomento h3{
        text-align: center;
        font-size: 20px;
        margin: 0px 60px;
        padding-bottom: 5px;
    }
    .directoryPic{
        padding-top: 25px;
        width: 250px;
        height:  400px;
        margin: auto 40px;
    }   
}

/*--*****************************************************************************--*/

#terzo_argomento {
    max-width: 900px;
    display: inline;
}
#terzo_argomento article{
    justify-items:left;
    font-family: 'Roboto', sans-serif;
}
#terzo_argomento p{
    opacity: 0;
    animation-delay: 2s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    max-width: 700px;
    text-align: justify;
    margin: 10px;
    margin-left: 100px;
}
#terzo_argomento h3{
    max-width: 630px;
    border-bottom: 2px solid #000;
    background: linear-gradient(to right, #CFCFCF, #fff 100%);
}
.blocchiPic{
    opacity: 0;
    animation-delay: 2.5s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 500px;
    height: 500px;
    margin-right: 70px;
    margin-left: 20px;
    float: right;
}

@media(max-width:1000px){
    #terzo_argomento {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    #terzo_argomento p{
        text-align: justify;
        text-align-last: center;
        margin: 0px 60px;
    }
    #terzo_argomento h3{
        text-align: center;
        font-size: 20px;
        margin: 0px 60px;
        padding-bottom: 5px;
    }
    .blocchiPic{
        padding-top: 25px;
        width: 480px;
        height:  544px;
        margin: auto 40px;
    }   
}

/*--*****************************************************************************--*/

#quarto_argomento  {
    max-width: 900px;
    display: inline ;
}
#quarto_argomento  article{
    justify-items:left;
    font-family: 'Roboto', sans-serif;
}
#quarto_argomento  p{
    opacity: 0;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    max-width: 700px;
    text-align: justify;
    margin: 10px;
    margin-left: 100px;
}
#quarto_argomento  h3{
    max-width: 630px;
    border-bottom: 2px solid #000;
    background: linear-gradient(to right, #CFCFCF, #fff 100%);
}
.comePic{
    opacity: 0;
    animation-delay:  4.5s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 420px;
    height: 320px; 
    margin: 100px auto;
    margin-right: 125px;
    margin-left: 60px;
    float: right;
    
}

@media(max-width:1000px){
    #quarto_argomento {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    #quarto_argomento  p{
        text-align: justify;
        text-align-last: center;
        margin: 0px 60px;
    }
    #quarto_argomento  h3{
        text-align: center;
        font-size: 20px;
        margin: 0px 60px;
        padding-bottom: 5px;
    }
    .comePic{
        padding-top: 25px;
        width: 320x;
        height:  280px;
        margin: auto 40px;
    }   
}

/*--*****************************************************************************--*/

#quinto_argomento  {
    max-width: 900px;
    display: inline;
}
#quinto_argomento  article{
    justify-items:left;
    font-family: 'Roboto', sans-serif;
}

#quinto_argomento  p{
    opacity: 0;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    max-width: 700px;
    text-align: justify;
    margin: 10px;
    margin-left: 100px;
}
#quinto_argomento h3{
    max-width: 630px;
    border-bottom: 2px solid #000;
    background: linear-gradient(to right, #CFCFCF, #fff 100%);
}
.tipiPic{
    opacity: 0;
    animation-delay: 5.5s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 412px;
    height: 201px; 
    margin: 250px auto;
    margin-right: 110px;
    margin-left: 60px;
    float: right;
    
}

@media(max-width:1000px){
    #quinto_argomento {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    #quinto_argomento p{
        text-align: justify;
        text-align-last: center;
        margin: 0px 60px;
    }
    #quinto_argomento h3{
        text-align: center;
        font-size: 20px;
        margin: 0px 60px;
        padding-bottom: 5px;
    }
    .tipiPic{
        padding-top: 25px;
        width: 312x;
        height:  201px;
        margin: auto 40px;
    }   
}

/*--*****************************************************************************--*/

#sesto_argomento  {
    max-width: 900px;
    display: inline;
}
#sesto_argomento  article{
    justify-items:left;
    font-family: 'Roboto', sans-serif;
}
#sesto_argomento  p{
    opacity: 0;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    max-width: 800px;
    text-align: justify;
    margin: 10px;
    margin-left: 100px;
}
#sesto_argomento h3{
    max-width: 630px;
    border-bottom: 2px solid #000;
    background: linear-gradient(to right, #CFCFCF, #fff 100%);
}
#ses-arg-img{
    display: flex;
    flex-direction: column;
    float:right;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 50px;
}

.hdd{
    opacity: 0;
    animation-delay: 6.5s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 411px;
    height: auto;
}

.ssd{
    opacity: 0;
    animation-delay: 7s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 434px;
    height: auto;
}

.hdd-ssd{
    opacity: 0;
    animation-delay: 7.5s;
    animation-name: fadebounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 434px;
    height: auto;
}

@media(max-width:1000px){
    .hdd{
        
        width: 311px;
        height: auto;
    }
    
    .ssd{
        
        width: 334px;
        height: auto;
    }
    
    .hdd-ssd{
        
        width: 334px;
        height: auto;
    }
    #sesto_argomento {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    #sesto_argomento p{
        text-align: justify;
        text-align-last: center;
        margin: 0px 60px;
    }
    #sesto_argomento h3{
        text-align: center;
        font-size: 20px;
        margin: 0px 60px;
        padding-bottom: 5px;
    }
    #ses-arg-img{
        margin: 40px 40px;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/

/*------------------------------
CONTACT
------------------------------*/

section.flexbox-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.flexbox-section p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    max-width: 900px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 1.5;
}

.img_top{
    height: 110px;
    width: 110px;
    border-radius: 60%;
    box-shadow: 8px 0px 40px 0px #7a7a7a;
    margin-left: 100px;
    margin-right: 350px;
}

header{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #000;
    position:absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a{
    padding: 20px;
    text-decoration: none;
    color: white;
    opacity: .6;
    cursor: pointer;
}

header:hover{
    position: fixed;
}

header a.l1:hover{
    background-color: rgb(74, 124, 24);
    padding: 20px;
    padding-bottom: 49px;
    opacity: 1;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    transition: border-bottom-right-radius 0.5s linear, border-top-left-radius 0.5s linear; 
}

header a.l2:hover{
    background-color:rgb(180, 112, 22);
    padding: 20px;
    padding-bottom: 49px;
    opacity: 1;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    transition: border-bottom-right-radius 0.5s linear, border-top-left-radius 0.5s linear; 
}

header a.l3:hover{
   
    background-color: #555;
    padding: 20px;
    padding-bottom: 49px;
    opacity: 1;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    transition: border-bottom-right-radius 0.5s linear, border-top-left-radius 0.5s linear; 
}


header a.l4:hover{
    background-color: brown;
    padding: 20px;
    padding-bottom: 49px;
    opacity: 1;
    transition: background-color 0.5s ease;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    transition: border-bottom-right-radius 0.5s linear, border-top-left-radius 0.5s linear; 
}



header a.l1:active{
    background-color: #60C5F4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    transition: border-bottom-left-radius 0.5s linear,  border-bottom-right-radius 0.5s linear, border-top-right-radius 0.5s linear, border-top-left-radius 0.5s linear;
}

header a.l2:active{
    background-color: #60C5F4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    transition: border-bottom-left-radius 0.5s linear,  border-bottom-right-radius 0.5s linear, border-top-right-radius 0.5s linear, border-top-left-radius 0.5s linear;
}

header a.l3:active{
    background-color: #60C5F4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    transition: border-bottom-left-radius 0.5s linear,  border-bottom-right-radius 0.5s linear, border-top-right-radius 0.5s linear, border-top-left-radius 0.5s linear;
}


header a.l4:active{
    background-color: #60C5F4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    transition: border-bottom-left-radius 0.5s linear,  border-bottom-right-radius 0.5s linear, border-top-right-radius 0.5s linear, border-top-left-radius 0.5s linear;
}




header nav ul{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav li{
    margin: 0 10px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}

@media(max-width:1000px){
    header{
        text-align: center;
        flex-direction: column;
        padding: 20px 50px;
    }
    
    header img{
        width: 75%;
    }
    
    header nav{
        justify-content: space-around;
    }
    
    header nav li{
        margin: 0 10px;
    }
    
    header nav ul{
        font-size: 14px;
    }
    
    header a{
        padding: 3px;
    }
    header a.l1:hover{
        padding: 3px;
        padding-bottom: 20px;
    }
    header a.l2:hover{
        padding: 3px;
        padding-bottom: 20px;
    }
    header a.l3:hover{
        padding: 3px;
       padding-bottom: 20px;

    }
    header a.l4:hover{
        padding: 3px;
        padding-bottom: 20px;
    }
    .img_top{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
}

/*--------------------------------------------------------------------------------------------------*/

/*---------------------------
DROPDOWN MENU
---------------------------*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 47px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

li:hover .dropdown-content {
    display: block;
}

@media(max-width: 1000px){
    .dropdown-content{
        min-width: 20px;
        margin-top: 20px;
    }
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 1s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #8E8E8E;
    transition: all 0.3s ease-in-out;
}

li:hover .dropdown-content{
    display: block;
    opacity: 1;
    animation: opacity 700ms ease-in-out normal;
    -moz-animation: opacity 700ms ease-in-out normal;
    -ms-animation: opacity 700ms ease-in-out normal;
    -o-animation: opacity 700ms ease-in-out normal;
    -webkit-animation: opacity 700ms ease-in-out normal;    
}

@media(max-width: 1000px){
    .dropdown-content{
        min-width: 20px;
        margin-top: 20px;
    }
}

@keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}
@-moz-keyframes opacity { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}
@-ms-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-o-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-webkit-keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}

.ttbel{
    text-align: center;
    font-size: 20px;
}